<main class="helvetica" role="main">
  <div class="w-100 helvetica">
    <header class="w-100 pa3 ph3 ph6-ns bg-black">
      <div class="db dt-ns mw9 center w-100">
        <div class="db dtc-ns v-mid tl w-50">
          <a href="/" class="dib f5 f4-ns fw6 mt0 mb1 link white" title="Home">
            LEXICOI
          </a>
        </div>
      </div>
    </header>

    <div class="bg-dark-blue ph6-ns pv3">
      <div class="flex flex-wrap center ph3 ph4-ns">
        <div class="w-100 w-70-ns">
          <div class="f1 b white mb2">
            Welcome to compare
          </div>
          <div class="f5 fw5 white mb3">
            Spend less time managing and more time doing.
          </div>

          <div class="flex h2">
            <form 
               class="w-100 w-50-ns" 
               onsubmit={{action "createRankable" rankableTitle model.rankableGroup store}}>
              <input
                type="text"
                name="rankable-title"
                value={{rankableTitle}}
                onchange={{action (mut rankableTitle) value="target.value"}}
                                                      class="w-90 pl2 cf fl bn h-100 border-box" placeholder=" What's on your mind?">
              <input type="submit" value="+" class="w-10 w2 f4 dib white bg-black h-100 border-box ba b--black">
            </form>
          </div>
        </div>

        <div class="w-100 w-30-ns pt3 pt0-ns">
          <div class="w-100 pa3 h-100 w5 bg-black white">
            <div class="f6 mb2 white">
              Quick links:
            </div>

            <div class="f5 white b">
              {{#link-to "tasks" classNames="db mb1 link white underline"}}All tasks{{/link-to}}
              <a class="db mb1 link white underline" href="#">Settings</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="ba pa3 ph6-ns">
    {{#link-to "index" classNames="w-100 w-auto-ns ph1 f5 black b br"}}
      Home
    {{/link-to}}
    {{#link-to "category" model.rankableGroup.title classNames="w-100 w-auto-ns ph1 f5 black b br"}}
      Category
    {{/link-to}}
    <button onclick={{action "navigateToCompare" model.rankableGroup.title}} class="w-100 w-auto-ns ph1 f5 black b">
      Compare
    </button>
  </div>

  <div class="flex flex-wrap pa3 ph6-ns">
    <div class="w-100 w-40-ns">
      <div class="f3 b">Tasks to Compare</div>
      <ul class="list pl0 mr5-ns">
        {{#each rankedRankables as |rankable|}}
          {{#link-to "task" rankable.id
            classNames="link dt w-100 bb b--black-10 pb2 mt2 dim blue"
            tagName="a"}}
            <div class="dtc v-top pl2">
              <h1 class="f6 f5-ns fw6 lh-title black mv0">{{rankable.title}}</h1>
            </div>
          {{/link-to}}
        {{else}}
          <div class="dtc v-top pl2">
            <h1 class="f6 f5-ns fw6 lh-title black mv0">
              You're done comparing!
            </h1>
          </div>
        {{/each}}
      </ul>
    </div>

    <div class="w-100 w-60-ns">
      <div class="f3 b">Compare</div>

      {{#unless currentRankable}}
        Looks like you're all set!
        You can save your changes or cancel.

        <div class="bg-black pa1">
          <a href="#" class="white b" onclick={{action "saveComparison"}}>
            Confirm.
          </a>
        </div>
      {{/unless}}

      {{#if currentRankable}}
        <div class="bg-black b white pa3">
          {{model.rankableToCompare.title}}
        </div>

        <div class="h2"></div>

        <div class="bg-dark-blue b white pa3">
          {{currentRankable.title}}
        </div>

        <div class="flex">
          <a
            href="#"
            onclick={{action "compare" "lesser" currentRankable}}
            class="underline hand w-100 w-50-ns b pa2 b--black bw1">
            Less important
          </a>
          <a
            href="#"
            onclick={{action "compare" "greater" currentRankable}}
            class="underline hand w-100 w-50-ns b pa2 b--black bw1">
            More important
          </a>
        </div>
      {{/if}}
    </div>
  </div>
</main>
