<div class="helvetica vh-100 w-90 mv3 mh2 outline">
  <div class="bg-black h1 mb3"></div>
  <div class="ph3">
    {{#if currentRankable}}
      <div class="flex">
        <div class="w-90 f3 fw9">Ranking</div>
        <div class="w-10 f6">x</div>
      </div>

      <div class="">
        <span class="ttu f6 measure">Max comparisons remaining</span>
        <div class="bg-black white">{{newRankings.length}}</div>
      </div>

      <blockquote class="pa2">
        Is the rankable you're considering more or less
        important than your rankable?
      </blockquote>

      <div class="mb3">
        <span class="ttu f6 measure">your rankable</span>
        <div class="bg-black b white pa3">
          {{model.rankable.title}}
        </div>
      </div>

      <div class="mb3">
        <span class="ttu f6 measure">what you're considering</span>
        <div class="bg-dark-blue b white pa3">
          {{currentRankable.title}}
        </div>
      </div>


      <div class="flex helvetica">
        <button 
           type="button" 
           onclick={{action "compare" "lesser" currentRankable}}
           class="ma1 bg-white hover-white hover-bg-black fw6 dib pv1 ph3 b--black pointer w-50">
          less important
        </button>

        <button
           type="button"
           onclick={{action "compare" "greater" currentRankable}}
           class="ma1 bg-white hover-white hover-bg-black fw6 dib pv1 ph3 b--black pointer w-50">
          more important
        </button>
      </div>

    {{else}}
      <div class="flex">
        <div class="w-90 f3 fw9">Ranking complete</div>
      </div>

      <blockquote class="pa2">
        All of your rankables for this group have been ranked.
        Save and go back or cancel.
      </blockquote>

      <div class="flex">
        {{#link-to "base.tasks.task" model.rankable.id
          tagName="button"
          classNames="ma1 bg-white hover-white hover-bg-black fw6 dib pv1 ph3 b--black pointer w-50"}}
          Cancel
        {{/link-to}}

        <button
          class="ma1 bg-white hover-white hover-bg-black fw6 dib pv1 ph3 b--black pointer w-50"
          onclick={{action "saveComparison" previousComparison}}>
          Save
        </button>
      </div>

    {{/if}}
  </div>
</div>
